@layer utilities {

    .font-weight-light {
        font-weight: var(--font-weight-light);
    }

    .font-weight-bold {
        font-weight: var(--font-weight-bold);
    }

    .italic {
        font-style: italic;
    }

    .font-sm {
        font-size: var(--font-size-sm);
    }

    .font-base {
        font-size: var(--font-size-base);
    }

    .font-lg {
        font-size: var(--font-size-lg);
    }

    .font-xl {
        font-size: var(--font-size-xl);
    }

    .font-2xl {
        font-size: var(--font-size-2xl);
    }

    .line-height-snug {
        line-height: var(--line-height-snug);
    }

    .line-height-base {
        line-height: var(--line-height-normal);
    }

    .line-height-loose {
        line-height: var(--line-height-loose);
    }

    .whitespace-pre {
        white-space: pre;
    }

    .font-main {
        font-family: var(--font-main);
    }

    .font-accent {
        font-family: var(--font-accent);
    }
}