@layer tokens {
    :root {
        /* Primary */
        --color-primary-200: hsl(217, 88%, 90%);
        --color-primary-400: hsl(216, 100%, 68%);
        --color-primary-700: hsl(215, 100%, 35%);

        /* Secondary */
        --color-secondary-200: hsl(153, 72%, 90%);
        --color-secondary-400: hsl(162, 71%, 60%);
        --color-secondary-700: hsl(161, 100%, 27%);

        /* Accent */
        --color-accent-200: hsl(27, 92%, 90%);
        --color-accent-400: hsl(33, 94%, 73%);
        --color-accent-700: hsl(31, 100%, 32%);

        /* Light and Dark */
        --color-light: hsl(0, 0%, 98%);
        --color-light-40: hsl(0, 0%, 95%, 0.4);
        --color-dark: #262626;
        --color-dark-40: hsla(0, 0%, 15%, 0.4);

        /* neutral colors */
        --color-neutral-100: hsl(0, 0%, 90%);
        --color-neutral-200: hsl(0, 0%, 80%);
        --color-neutral-300: hsl(0, 0%, 70%);
        --color-neutral-400: hsl(0, 0%, 60%);
        --color-neutral-700: hsl(0, 0%, 30%);

        --background: var(--color-light);
        --foreground: var(--color-dark);

        --color-border: var(--foreground);
        --color-muted: var(--color-neutral-400);
        --color-focus: var(--color-primary-400);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: var(--color-dark);
            --foreground: var(--color-light);
        }
    }

    @media (forced-colors: active) {
        :root {
            --color-light: hsl(0, 0%, 100%);
            --color-light-40: hsl(0, 0%, 100%, 0.4);

            --color-dark: rgb(0, 0, 0);
            --color-dark-40: hsla(0, 0%, 0%, 0.4);
        }
    }
}